@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
.app{

  min-height: 100vh;
  background-color: rgb(212, 188, 188);
  color: azure;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 130px;
  padding-bottom:70px;
}
@media (max-width:700px){
  .app{
    padding-top: 70px;
  }
}